@* 指定此页面的路由 *@
@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<Counter IncrementAmount="10" />

<Modal Title="我的第一个模式对话框" Show="true" OnCancel="Cancel" OnConfirm="Confirm">
    <p>
        这是我的第一个模式对话框
    </p>
</Modal>

@code{
    // 为Modal提供OnCancel方法
    private Task Cancel()
    {
        Console.WriteLine("取消");
        return Task.CompletedTask;
    }

    // 为Modal提供OnConfirm方法
    private Task Confirm()
    {
        Console.WriteLine("确认");
        return Task.CompletedTask;
    }

}
